
#overlay{
	display: block;
}
#overlay2{
	display: none;
	width: 100%;
	height: 100%;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
}

	.MDL_window_wrap2  p{
	line-height:25px !important;
	min-height:auto !important;
	font-size:14px !important;
}
	.MDL_window_wrap2 {
	max-width:1004px;
	padding:0 10px;
	height:100%;
	margin: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	text-align: center;
	overflow-y:auto;
	overflow-x:hidden;

}
.red{
	color:#C00 !important;
}
.btn_area{
	text-align:center;
}
.btn_area ul{
	display:inline-block;
}
.btn_area ul li{
	float:left;
	border-radius:5px;
		background:#C00;
		color:#FFF;
	cursor:pointer;
	display:block;
	font-weight:bold;
	margin:10px;
	font-size:14px;
}
@media only screen and (max-width:370px) {
	.btn_area ul li{
		margin:5px;
	}
}
.btn_area ul li a{
	color:#FFF;	padding:10px;
	display:block

}
.btn_area ul li:first-child{
	background:#CCC;
}
.MDL_window_wrap2 textarea{
	width:96%;
	height:300px;	overflow: auto;
	font-size:13px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:10px 0 20px 0;
	padding:2%;
}
.MDL_window_wrap2 label{
	margin:10px 0;
		font-size:14px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
#close2{
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
}
#close2 img{
	margin: 0 auto;
	padding: 15px 10px !important;
	text-align: center;
	display: inline-block;
	position: static;
	cursor: pointer;
	width: 30px;
}


@media only screen and (max-width:736px) {
	.MDL_window_wrap {
	max-width: 100%;
	height:450px;
	position:absolute;
	top:10%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	text-align: center;
	  overflow:hidden;

}
#overlay2{
		display: none;
}
#overlay{
		display: none;
	width: 100%;
	height: 100%;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	background: rgba(0, 180, 141, 0.9);
}
#close{
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
#close img{
	margin: 0 auto;
	padding: 15px 10px !important;
	text-align: center;
	display: inline-block;
	position: static;
	cursor: pointer;
	width: 30px;
}

}
