.lock {
    overflow:hidden;
}

#modal-target {
  display: none;
  position: relative;
  width:100%;
  height:100%;
  background:#f2f2f2
}
.modal-content{
	display:none;
}

.modal-overlay {
    z-index: 9998;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.8);
}

.modal-wrap {
    z-index:9999;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

.modal-open {
    color:#00f;
    text-decoration:underline;
}

.modal-open:hover {
    cursor:pointer;
}

.modal-close {
	position:fixed;
	top:20px;
	right:40px;
	padding:20px !important;
	 transform: translate3d(0, 0, 0);
	 z-index:9999
}
.modal-close img{
	width:40px !important;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}
.textarea{
	background:#f2f2f2 !important;
	max-width:800px;
	margin:50px auto;
	position:relative;
	padding:50px;
	box-sizing:border-box;
}
.modal-environment-wrap{
	background:#fff !important;
	width: 100%;
  height: 100%;
	position:relative;
	box-sizing:border-box;
}
.textarea h2{
	font-size:30px;
	/* font-family: "Noto Sans Japanese", sans-serif; */
	font-style:italic;
	font-weight:bold;
}
.textarea h3{
	font-size:20px;
	/* font-family: "Noto Sans Japanese", sans-serif; */
	border:none !important;
	font-weight:bold;
	margin:20px 0 10px 0;
}

@media only screen and (max-width:736px) {
	.textarea h2{
	font-size:20px;
	}
	.textarea h3{
	font-size:15px;
	}
	.textarea{
	background:#FFF;
	max-width:800px;
	margin:20px 20px;
	position:relative;
	padding:5px;
	box-sizing:border-box;
}
	.modal-close {
	position:fixed;
	top:0;
	right:0;
	padding:20px !important;
	 transform: translate3d(0, 0, 0);
}
}
