/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.logo{
  position: absolute;
  top: 10%;
  left: 10%;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding-top: 220px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.elegantshadow {
  height: 500px;
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
h1.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h1.insetshadow {
  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111111, 2px 2px 1px #363636;
}
h1.retroshadow {
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

@import url(http://fonts.googleapis.com/css?family=Lato);



.blurry-menu {
  font-family: 'Lato', helvetica, arial, sans-serif;
  height: 50px;
    margin: 40px 0;
    padding: 50px 0;
    text-align: center;
    position: absolute;
    top: 1%;
    left: 25%;

}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;




}

ul:after {
    content: '';
    height: 46px;
    left: -50px;
    position: absolute;
    top: -32px;
    width: 120%;
    z-index: 1;

    -webkit-transform: rotate(-2.4deg);
    -moz-transform: rotate(-2.4deg);
    -ms-transform: rotate(-2.4deg);
    -o-transform: rotate(-2.4deg);
     transform: rotate(-2.4deg);
}

li {float: left;}

a {

    color: #888;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    z-index: 2;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}

a:focus {
    outline: 0;
}

li:first-child a {
    border-left: none;

}

li:last-child a {
    border-right: none;

}

ul:hover a {
    color: transparent;
    text-shadow: 0 0 5px #ccc;
}

ul:hover a:hover {
    background: #fafafa;
    color: #444;
    line-height: 43px;
    text-shadow: 0 1px 0 #fff;
}

ul:hover a:active {
    border-left-color: #f0f0f0;
    color: #999;
    line-height: 47px;
    -webkit-box-shadow: inset 0 0 22px #e9e9e9;
    -moz-box-shadow: inset 0 0 22px #e9e9e9;
    box-shadow: inset 0 0 22px #e9e9e9;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.top{
  width: 100%;
  height: 730px;
  background-color: #e7e5e4;
}

.logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 380px;
  height: auto;
  background-color: #e7e5e4;
}
.logo-wrapper #logo-webbab {
  overflow: visible;
}
.logo-wrapper #logo-webbab .word {
  fill: #fff;
  opacity: 0;
}
.logo-wrapper #logo-webbab #mask #alpha {
  fill: #fff;
}
.logo-wrapper #iso {
  fill: #fff;
  opacity: 0;
  -webkit-mask: url(#mask);
          mask: url(#mask);
}


@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/abstract.jpg");
  background-size: cover;
}

.outer-scratch, .inner-scratch {
  height: inherit;
}

.outer-scratch:after, .inner-scratch:after {
  content: '';
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  opacity: .08;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png") repeat center center;
  -webkit-animation: scratch 0.45s steps(1) infinite;
  animation: scratch 0.45s steps(1) infinite;
}

.inner-scratch:after {
  left: 30%;
  -webkit-animation: inner-scratch 2s infinite;
  animation: inner-scratch 2s infinite;
}

.grain:after {
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: .11;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg") repeat center center;
  -webkit-animation: grain 0.5s steps(1) infinite;
  animation: grain 0.5s steps(1) infinite;
}

/*  Basic Title  */
h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  color: #fff;
  -webkit-animation: 3s fade;
  animation: 3s fade;
}
h1 span {
  display: inline-block;
  position: relative;
  padding: .5em 1em;
}
h1 span:before {
  display: block;
  content: '';
  width: 110%;
  margin-left: -5%;
  margin-bottom: 5%;
  border-top: 1px solid #fff;
  -webkit-animation: 2.5s draw;
  animation: 2.5s draw;
}
h1 span:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  -webkit-animation: 2.5s draw-bottom;
  animation: 2.5s draw-bottom;
}

/* Film Animations */
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}
@keyframes scratch {
  0%, 100% {
    transform: translateX(0);
    opacity: 0.075;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
    opacity: 0.09;
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.05;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.02;
  }
  90% {
    transform: translateX(-2%);
  }
}
@keyframes inner-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.08;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.06;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.03;
  }
  90% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(30%);
  }
}
/* Simple Title Animation */
@keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes draw-bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
