<IfModule mod_rewrite.c>
  RewriteEngine on

  # -- http¨https
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://www.reve-co.jp/$1 [R=301,L]

  # -- www‚ ‚è
  RewriteCond %{HTTP_HOST} !^www\.
  RewriteRule ^(.*) https://www.reve-co.jp/$1 [R=301,L]

  # b’è‘Î‰
  RewriteRule ^company/history.html / [NE,R=301,L]

</IfModule>
